In [1]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
team = pd.read_excel('team_data.xlsx')
match = pd.read_excel('match_data.xlsx')

#### Match Data

In [3]:
match.shape

(711, 12)

In [4]:
match.columns

Index(['match_id', 'match_name', 'date', 'start_time', 'gmtoffset',
       'winning_team', 'outcome', 'value', 'winning_method', 'toss_winner',
       'toss_selection', 'venue'],
      dtype='object')

In [5]:
match.isnull().sum()

match_id            0
match_name          0
date                0
start_time          0
gmtoffset           0
winning_team       68
outcome           711
value               5
winning_method    711
toss_winner         0
toss_selection      0
venue               0
dtype: int64

In [6]:
match.drop(['outcome','winning_method'],axis=1,inplace=True)

In [7]:
match['winning_team'].fillna('DRAW',inplace=True)

In [8]:
match['value'].fillna('DRAW',inplace=True)

In [9]:
match.isnull().sum()

match_id          0
match_name        0
date              0
start_time        0
gmtoffset         0
winning_team      0
value             0
toss_winner       0
toss_selection    0
venue             0
dtype: int64

In [10]:
team_dict={1:'Bengaluru Bulls',2:'Dabang Delhi K.C.',3:'Jaipur Pink Panthers',4:'Bengal Warriors',
5:'U Mumba',6:'Patna Pirates',7:'Puneri Paltan',8:'Telugu Titans',9:'Fire birds',10:'Storm Queens',
11:'Ice Divas',12:'India',13:'Republic of Korea',14:'Bangladesh',15:'Australia',16:'England',
17:'Argentina',18:'Iran',19:'Thailand',20:'Japan',21:'USA',22:'Kenya',23:'Poland',24:'Indian Railways',
25:'Haryana',26:'Services SSCB',27:'Maharashtra',28:'Haryana Steelers',29:'Tamil Thalaivas',
30:'U.P. Yoddha',31:'Gujarat Fortunegiants',167:'Pakistan',172:'Sri Lanka',173:'India Women',
 181:'Chinese Taipei Women',236:'Pune Pride',238:'Diler Delhi',239:'Chennai Challengers',
240:'Bangalore Rhinos',241:'Telugu Bulls',242:'Mumbai Che Raje',243:'Haryana Heros'}

In [11]:
match['toss_winner'] = match['toss_winner'].map(team_dict)

In [12]:
match['toss_choice'] = match['toss_selection'].apply(lambda x : x.split(':')[0])

In [13]:
match['toss_direction'] = match['toss_selection'].apply(lambda x : x.split(':')[1])

In [14]:
match.drop('toss_selection',axis=1,inplace=True)

In [15]:
match['value'] = match['value'].apply(lambda x : x[x.find('(')+1:x.find(')')])

In [16]:
match['winning_score'] = match['value'].apply(lambda x : x.split('-')[0])

In [17]:
match['loosing_score'] = match['value'].apply(lambda x : x.split('-')[-1])

In [18]:
match.drop('value',axis=1,inplace=True)

In [19]:
match['Year'] = match['date'].apply(lambda x : x[-4:])
match['Year'] = match['Year'].astype('int')

In [20]:
match['Month'] = match['date'].apply(lambda x : x[:x.find('/')])
match['Month'] = match['Month'].apply(lambda x : x[:x.find('-')] if len(x) > 1 else x)
match['Month'] = match['Month'].astype('int')

In [21]:
match['Season'] = match['Year'].map({2014:'Season 1',2015:'Season 2',2016:'Season 34',2017:'Season 5',2018:'Season 6',2019:'Season 7'})

In [22]:
for i in range(0,len(match)):
    if (match.loc[i,'Season'] == 'Season 34') and (match.loc[i,'Month'] < 6):
        match.loc[i,'Season'] = 'Season 3'
    elif match.loc[i,'Season'] == 'Season 34':
        match.loc[i,'Season'] = 'Season 4'

In [23]:
match = match[match['toss_winner'].isin(['U Mumba', 'Dabang Delhi K.C.', 'Bengaluru Bulls',
       'Bengal Warriors', 'Puneri Paltan', 'Telugu Titans',
       'Jaipur Pink Panthers', 'Patna Pirates','Haryana Steelers', 'Gujarat Fortunegiants', 'U.P. Yoddha',
       'Tamil Thalaivas'])]

In [24]:
match.shape

(636, 15)

In [25]:
match.drop(['match_name','gmtoffset'],axis=1,inplace=True)

In [26]:
team_detail = team.merge(match,on='match_id',how='left')

In [27]:
team_detail.shape

(1422, 35)

In [28]:
team_detail.isnull().sum()

match_id                              0
home_team_id                        898
home_team_name                      898
Team_id                               0
Team_name                             0
Team_short_name                       0
Team_Points_total                     0
Team_Points_all_out                   0
Team_Points_extras                    0
Team_Points_declare                   0
Team_Raid_Points_total                0
Team_Raid_Points_touch                0
Team_Raid_Points_raid_bonus           0
Team_Tackle_Points_total              0
Team_Tackle_Points_capture            0
Team_Tackle_Points_capture_bonus      0
Team_Raids_total                      0
Team_Raids_successful                 0
Team_Raids_unsuccessful               0
Team_Raids_Empty                      0
Team_Tackles_total                    0
Team_Tackles_successful               0
Team_Tackles_unsuccessful             0
date                                150
start_time                          150
winning_team                        150
toss_winner                         150
venue                               150
toss_choice                         150
toss_direction                      150
winning_score                       150
loosing_score                       150
Year                                150
Month                               150
Season                              150
dtype: int64

In [29]:
team_detail.drop(team_detail[team_detail['date'].isnull()].index,inplace=True)

In [30]:
team_detail.drop('home_team_id',axis=1,inplace=True)

In [31]:
team_detail.fillna('None',inplace=True)

In [32]:
team_detail.isnull().sum()

match_id                            0
home_team_name                      0
Team_id                             0
Team_name                           0
Team_short_name                     0
Team_Points_total                   0
Team_Points_all_out                 0
Team_Points_extras                  0
Team_Points_declare                 0
Team_Raid_Points_total              0
Team_Raid_Points_touch              0
Team_Raid_Points_raid_bonus         0
Team_Tackle_Points_total            0
Team_Tackle_Points_capture          0
Team_Tackle_Points_capture_bonus    0
Team_Raids_total                    0
Team_Raids_successful               0
Team_Raids_unsuccessful             0
Team_Raids_Empty                    0
Team_Tackles_total                  0
Team_Tackles_successful             0
Team_Tackles_unsuccessful           0
date                                0
start_time                          0
winning_team                        0
toss_winner                         0
venue                               0
toss_choice                         0
toss_direction                      0
winning_score                       0
loosing_score                       0
Year                                0
Month                               0
Season                              0
dtype: int64

In [33]:
team_detail.index = range(0,len(team_detail))

In [34]:
team_detail['winning_score'].unique()

array(['45 ', '47 ', '40 ', '36 ', '35 ', '46 ', '42 ', '38 ', '39 ',
       '33 ', '44 ', '37 ', '49 ', '30 ', '29 ', '50 ', '28 ', '41 ',
       '52 ', '60 ', '31 ', '34 ', '32 ', '27 ', '29', '33', '36', '45',
       '25', '28', '31', '32', '38', '27', '35', '34', '39', 'Match Tie',
       '44', '54', '20', '30', '51', '40', '43', '46', '26', '47', '67',
       '41', '37', '42', 'DRA', '24', '64', '58', '53', '23', '69', '55',
       '48', '50', '22', '60'], dtype=object)

In [35]:
team_detail['loosing_score'].unique()

array([' 31', ' 28', ' 37', ' 25', ' 35', ' 33', ' 30', ' 32', ' 40',
       ' 18', ' 29', ' 34', ' 36', ' 27', ' 23', ' 43', ' 24', ' 26',
       ' 22', '28', '25', '27', '23', '24', '20', '21', '26', '30', '37',
       '18', '22', '29', 'Match Tie', '32', '17', '38', '34', '31', '36',
       '41', '19', 'DRA', '33', '15', '35', '42', '39', '16', '44', '40'],
      dtype=object)

In [36]:
for i in range(0,len(team_detail)):
    if team_detail.loc[i,'winning_score'] in ['Match Tie','DRA']:
        team_detail.loc[i,'winning_score'] = team_detail.loc[i,'Team_Points_total']
        team_detail.loc[i,'loosing_score'] = team_detail.loc[i,'Team_Points_total']

In [37]:
team_detail['winning_score'].unique()

array(['45 ', '47 ', '40 ', '36 ', '35 ', '46 ', '42 ', '38 ', '39 ',
       '33 ', '44 ', '37 ', '49 ', '30 ', '29 ', '50 ', '28 ', '41 ',
       '52 ', '60 ', '31 ', '34 ', '32 ', '27 ', '29', '33', '36', '45',
       '25', '28', '31', '32', '38', '27', '35', '34', '39', 20, 39, '44',
       '54', 29, '20', '30', '51', 45, '40', '43', '46', '26', 30, '47',
       32, 28, '67', '41', 21, '37', '42', 12, 25, '24', 27, 34, 26, 33,
       36, '64', 31, 41, 37, '58', '53', '23', '69', '55', '48', 40, '50',
       35, 8, 11, 16, 5, 2, '22', 42, '60'], dtype=object)

In [38]:
team_detail['loosing_score'].unique()

array([' 31', ' 28', ' 37', ' 25', ' 35', ' 33', ' 30', ' 32', ' 40',
       ' 18', ' 29', ' 34', ' 36', ' 27', ' 23', ' 43', ' 24', ' 26',
       ' 22', '28', '25', '27', '23', '24', '20', '21', '26', '30', '37',
       '18', '22', '29', 20, 39, '32', 29, '17', 45, '38', '34', '31', 30,
       32, 28, '36', 21, '41', '19', 12, 25, 27, '33', '15', 34, '35', 26,
       '42', 33, 36, 31, 41, 37, '39', '16', '44', 40, 35, 8, 11, 16, 5,
       2, '40', 42], dtype=object)

In [39]:
team_detail['winning_score'] = team_detail['winning_score'].astype('int')
team_detail['loosing_score'] = team_detail['loosing_score'].astype('int')

In [40]:
team_detail['Year'] = team_detail['Year'].astype('int')
team_detail['Month'] = team_detail['Month'].astype('int')

In [41]:
team_detail.head()

,match_id,home_team_name,Team_id,Team_name,Team_short_name,Team_Points_total,Team_Points_all_out,Team_Points_extras,Team_Points_declare,Team_Raid_Points_total,...,winning_team,toss_winner,venue,toss_choice,toss_direction,winning_score,loosing_score,Year,Month,Season
0,1,U Mumba,3,Jaipur Pink Panthers,JAI,28,2,0,0,25,...,U Mumba,U Mumba,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Right,45,31,2014,7,Season 1
1,1,U Mumba,5,U Mumba,MUM,44,4,0,0,28,...,U Mumba,U Mumba,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Right,45,31,2014,7,Season 1
2,2,TBC,1,Bengaluru Bulls,BEN,42,6,0,0,23,...,Bengaluru Bulls,Dabang Delhi K.C.,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Left,47,28,2014,7,Season 1
3,2,TBC,2,Dabang Delhi K.C.,DEL,28,0,0,0,15,...,Bengaluru Bulls,Dabang Delhi K.C.,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Left,47,28,2014,7,Season 1
4,3,TBC,1,Bengaluru Bulls,BEN,39,4,1,0,20,...,Bengaluru Bulls,Bengaluru Bulls,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Right,40,37,2014,7,Season 1

In [42]:
team_detail.shape

(1272, 34)

In [43]:
team_detail.to_excel('team_detail.xlsx',index=False)