In [1]:
# Importing Libraries

import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing team_details.xlsx and creating the dataframe

team = pd.read_excel('team_detail.xlsx')
team.head()

,match_id,home_team_name,Team_id,Team_name,Team_short_name,Team_Points_total,Team_Points_all_out,Team_Points_extras,Team_Points_declare,Team_Raid_Points_total,...,winning_team,toss_winner,venue,toss_choice,toss_direction,winning_score,loosing_score,Year,Month,Season
0,1,U Mumba,3,Jaipur Pink Panthers,JAI,28,2,0,0,25,...,U Mumba,U Mumba,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Right,45,31,2014,7,Season 1
1,1,U Mumba,5,U Mumba,MUM,44,4,0,0,28,...,U Mumba,U Mumba,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Right,45,31,2014,7,Season 1
2,2,TBC,1,Bengaluru Bulls,BEN,42,6,0,0,23,...,Bengaluru Bulls,Dabang Delhi K.C.,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Left,47,28,2014,7,Season 1
3,2,TBC,2,Dabang Delhi K.C.,DEL,28,0,0,0,15,...,Bengaluru Bulls,Dabang Delhi K.C.,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Left,47,28,2014,7,Season 1
4,3,TBC,1,Bengaluru Bulls,BEN,39,4,1,0,20,...,Bengaluru Bulls,Bengaluru Bulls,"DOME@NSCI SVP Stadium, Mumbai",Choice of court,Right,40,37,2014,7,Season 1

In [3]:
team['home_team_name']=team['home_team_name'].replace({'TBC':'None'})

# Consolidating Delhi team's names
team['Team_name']=team['Team_name'].replace({'Dabang Delhi':'Dabang Delhi K.C.'})
team['winning_team']=team['winning_team'].replace({'Dabang Delhi':'Dabang Delhi K.C.'})
team['toss_winner']=team['toss_winner'].replace({'Dabang Delhi':'Dabang Delhi K.C.'})

In [4]:
team1 = team[::2]

In [5]:
team2 = team[1::2]

In [6]:
team1.shape

(636, 34)

In [7]:
team1.index = range(0,len(team1))
team2.index = range(0,len(team2))

In [8]:
team1_list = []

for each in team1.columns:
    team1_list.append('team1_'+each)

team1.columns = team1_list

In [9]:
team2_list = []

for each in team2.columns:
    team2_list.append('team2_'+each)

team2.columns = team2_list

In [10]:
final = pd.concat([team1,team2],axis=1)

In [11]:
final.columns

Index(['team1_match_id', 'team1_home_team_name', 'team1_Team_id',
       'team1_Team_name', 'team1_Team_short_name', 'team1_Team_Points_total',
       'team1_Team_Points_all_out', 'team1_Team_Points_extras',
       'team1_Team_Points_declare', 'team1_Team_Raid_Points_total',
       'team1_Team_Raid_Points_touch', 'team1_Team_Raid_Points_raid_bonus',
       'team1_Team_Tackle_Points_total', 'team1_Team_Tackle_Points_capture',
       'team1_Team_Tackle_Points_capture_bonus', 'team1_Team_Raids_total',
       'team1_Team_Raids_successful', 'team1_Team_Raids_unsuccessful',
       'team1_Team_Raids_Empty', 'team1_Team_Tackles_total',
       'team1_Team_Tackles_successful', 'team1_Team_Tackles_unsuccessful',
       'team1_date', 'team1_start_time', 'team1_winning_team',
       'team1_toss_winner', 'team1_venue', 'team1_toss_choice',
       'team1_toss_direction', 'team1_winning_score', 'team1_loosing_score',
       'team1_Year', 'team1_Month', 'team1_Season', 'team2_match_id',
       'team2_home_team_name', 'team2_Team_id', 'team2_Team_name',
       'team2_Team_short_name', 'team2_Team_Points_total',
       'team2_Team_Points_all_out', 'team2_Team_Points_extras',
       'team2_Team_Points_declare', 'team2_Team_Raid_Points_total',
       'team2_Team_Raid_Points_touch', 'team2_Team_Raid_Points_raid_bonus',
       'team2_Team_Tackle_Points_total', 'team2_Team_Tackle_Points_capture',
       'team2_Team_Tackle_Points_capture_bonus', 'team2_Team_Raids_total',
       'team2_Team_Raids_successful', 'team2_Team_Raids_unsuccessful',
       'team2_Team_Raids_Empty', 'team2_Team_Tackles_total',
       'team2_Team_Tackles_successful', 'team2_Team_Tackles_unsuccessful',
       'team2_date', 'team2_start_time', 'team2_winning_team',
       'team2_toss_winner', 'team2_venue', 'team2_toss_choice',
       'team2_toss_direction', 'team2_winning_score', 'team2_loosing_score',
       'team2_Year', 'team2_Month', 'team2_Season'],
      dtype='object')

In [12]:
temp = final[['team2_Team_name','team2_Team_Points_total','team1_Team_Points_total']]

In [13]:
for each in final['team1_Team_name'].unique():
    print('***********************************************************************************************')
    print(each)
    temp = final[(final['team1_Team_name']== each)& (final['team1_Season'] == 'Season 7') ]
    temp = temp[['team2_Team_name','team2_Team_Points_total','team1_Team_Points_total']]
    print(temp.groupby('team2_Team_name').median())

***********************************************************************************************
Jaipur Pink Panthers
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengal Warriors                           33.0                     33.5
Bengaluru Bulls                           41.0                     30.0
Dabang Delhi K.C.                         46.0                     44.0
Gujarat Fortunegiants                     28.0                     28.0
Patna Pirates                             36.0                     33.0
Puneri Paltan                             29.5                     38.0
Telugu Titans                             37.5                     26.0
U.P. Yoddha                               38.0                     32.0
***********************************************************************************************
Bengaluru Bulls
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Gujarat Fortunegiants                     33.0                     24.0
Haryana Steelers                          33.0                     30.0
Patna Pirates                             35.5                     37.0
Tamil Thalaivas                           27.0                     33.0
Telugu Titans                             39.0                     40.0
***********************************************************************************************
Bengal Warriors
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengaluru Bulls                           41.5                     42.0
Dabang Delhi K.C.                         30.0                     30.0
Gujarat Fortunegiants                     25.0                     25.0
Haryana Steelers                          36.0                     40.5
Patna Pirates                             26.0                     35.0
Puneri Paltan                             31.0                     42.5
Tamil Thalaivas                           26.0                     35.0
Telugu Titans                             29.0                     29.0
U Mumba                                   28.0                     30.5
***********************************************************************************************
Dabang Delhi K.C.
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengaluru Bulls                           35.0                     36.0
Gujarat Fortunegiants                     30.0                     34.0
Haryana Steelers                          34.0                     33.0
Jaipur Pink Panthers                      24.0                     35.0
Patna Pirates                             35.0                     38.0
Tamil Thalaivas                           31.5                     40.0
U Mumba                                   24.0                     40.0
U.P. Yoddha                               27.0                     36.0
***********************************************************************************************
U Mumba
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengaluru Bulls                           32.5                     29.5
Gujarat Fortunegiants                     22.5                     31.5
Haryana Steelers                          30.0                     27.0
Jaipur Pink Panthers                      31.5                     35.0
Patna Pirates                             30.0                     34.0
Puneri Paltan                             23.0                     33.0
U.P. Yoddha                               31.5                     31.0
***********************************************************************************************
Patna Pirates
                      team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Dabang Delhi K.C.                        43.0                     39.0
Haryana Steelers                         37.0                     30.0
Jaipur Pink Panthers                     34.0                     21.0
Puneri Paltan                            41.0                     20.0
U.P. Yoddha                              30.5                     35.0
***********************************************************************************************
Puneri Paltan
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengaluru Bulls                           30.5                     36.5
Dabang Delhi K.C.                         46.0                     35.0
Gujarat Fortunegiants                     33.0                     43.0
Haryana Steelers                          37.5                     25.5
Patna Pirates                             55.0                     33.0
Tamil Thalaivas                           36.0                     36.0
U Mumba                                   33.0                     33.0
***********************************************************************************************
Telugu Titans
                   team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengal Warriors                       40.0                     39.0
Bengaluru Bulls                       47.0                     26.0
Dabang Delhi K.C.                     35.5                     31.0
Patna Pirates                         38.0                     32.0
Puneri Paltan                         34.0                     27.0
Tamil Thalaivas                       34.5                     30.5
U Mumba                               36.0                     26.0
U.P. Yoddha                           20.0                     20.0
***********************************************************************************************
Gujarat Fortunegiants
                      team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengal Warriors                          28.0                     26.0
Dabang Delhi K.C.                        26.0                     31.0
Haryana Steelers                         41.0                     25.0
Jaipur Pink Panthers                     22.0                     19.0
Patna Pirates                            26.0                     29.0
Puneri Paltan                            33.0                     31.0
Tamil Thalaivas                          27.5                     39.0
Telugu Titans                            30.0                     24.0
U.P. Yoddha                              31.0                     38.0
***********************************************************************************************
Haryana Steelers
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Gujarat Fortunegiants                     37.0                     38.0
Jaipur Pink Panthers                      34.5                     26.5
Tamil Thalaivas                           35.0                     28.0
Telugu Titans                             40.0                     29.0
U.P. Yoddha                               37.0                     30.0
***********************************************************************************************
U.P. Yoddha
                       team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengal Warriors                           38.5                     24.5
Bengaluru Bulls                           33.0                     35.0
Gujarat Fortunegiants                     35.0                     26.0
Haryana Steelers                          36.0                     33.0
Jaipur Pink Panthers                      24.0                     31.0
Puneri Paltan                             30.0                     35.0
Tamil Thalaivas                           25.0                     35.0
***********************************************************************************************
Tamil Thalaivas

                      team2_Team_Points_total  team1_Team_Points_total
team2_Team_name
Bengaluru Bulls                          32.0                     21.0
Haryana Steelers                         43.0                     35.0
Jaipur Pink Panthers                     28.0                     26.0
Patna Pirates                            37.5                     24.0
Puneri Paltan                            31.0                     31.0
U Mumba                                  29.0                     24.0

### Future Matches Analysis

#Average points expected in future matches
- Match 120 : Jaipur Pink Panthers (30) : Bengaluru bulls (41) --> Bengaluru
- Match 121: Haryana Steelers (29) : Telgu titans (40) --> Telgu
- Match 122: UP (45) Vs Delhi (33) : --> UP will win (based on previous season)
- Match 123: Gujarat(33.4) Vs Patna(33.6) --> Patna (based on previous season)
- Match 124: Bengal(34.2) Vs Patna --> (33.6) --> Bengal (based on previous season)
- Match 125: UP (35) Vs Puneri (30) --> UP will win 
- Match 126 : Telgu(30) Vs Gujarat(24) --> Telgu
- Match 127: Tamil (26) Vs Jaipur (28) --> Jaipur
- Match 128: Bengal(30.83) Vs Tamil(26.5) --> Bengal
- Match 129: UP(25) Vs Telgu (24) --> UP will win
- Match 130 : MumBa (27) Vs Haryana(30) --> Haryana
- Match 131: Delhi vs Mumba --> Mumba
- Match 132: UP(28.5) Vs bengaluru(41) --> Bengaluru

Top 6
- Bengal Warriors (2 more wins) (Rank1)
- Delhi (since it score higher points already) (Rank2)
- Bengaluru bulls(2 more wins) (Rank3)
- Haryana (1 more win) (Rank 4)
- Mumba (1 more win) (Rank 5)
- UP Yoddha (3 more wins) (Rank 6)
- Patna (2 more wins)
- Telgu (2 more wins)

In [14]:
finals = final[['team1_Team_name','team2_Team_name','team1_winning_team']]

In [15]:
def check_win(team1_name,team2_name):
    cond1 = (finals['team1_Team_name'] == team1_name) & (finals['team2_Team_name'] == team2_name)
    cond2 = (finals['team2_Team_name'] == team1_name) & (finals['team1_Team_name'] == team2_name)
    print(finals[cond1 | cond2]['team1_winning_team'].value_counts().index[0])
    return finals[cond1 | cond2]['team1_winning_team'].value_counts()

### Elimator Rounds

In [16]:
#Rank 3 Vs Rank 6
check_win('Bengaluru Bulls','U.P. Yoddha')

Bengaluru Bulls

Bengaluru Bulls    5
U.P. Yoddha        2
Name: team1_winning_team, dtype: int64

In [17]:
# Rank 4 vs Rank 5
check_win('Haryana Steelers','U Mumba')

U Mumba

U Mumba             4
Haryana Steelers    3
Name: team1_winning_team, dtype: int64

### Semi Finals

In [18]:
# Rank1 Vs Winner eliminator 1
check_win('Bengaluru Bulls','Bengal Warriors')

Bengal Warriors

Bengal Warriors    8
Bengaluru Bulls    8
Name: team1_winning_team, dtype: int64

--> Equal wins

In [19]:
check_win('Dabang Delhi K.C.','U.P. Yoddha')

U.P. Yoddha

U.P. Yoddha          3
Dabang Delhi K.C.    1
Name: team1_winning_team, dtype: int64

### Final check for up Yodha with bengaluru and bengal

In [20]:
check_win('Bengaluru Bulls','U.P. Yoddha')

Bengaluru Bulls

Bengaluru Bulls    5
U.P. Yoddha        2
Name: team1_winning_team, dtype: int64

In [21]:
check_win('Bengal Warriors','U.P. Yoddha')

Bengal Warriors

Bengal Warriors    3
DRAW               3
U.P. Yoddha        2
Name: team1_winning_team, dtype: int64

- Since, Bengaluru bulls has highest chance of winning both bengal warriors and UP yoddha, Bengaluru bulls win the tournament